/* Write your CSS here */
.bg-container {
  background-color: #ffc2a0;
  min-height: 100vh;
  max-height: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  width: 80%;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.heading {
  text-align: center;
  color: #ff8542;
  font-size: 30px;
  font-family: 'Roboto';
}
